body{
	background:url("../assets/bg.jpg");

	
}
.extra{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 0 40px 32px;
	border-color: transparent transparent transparent #b4282d;
	position:absolute;
	left:-60px;
	top:30px;
}
.box{
	width:200px;
	height:80px;
	background-color: #b4282d;
	position:absolute;
	left:-260px;
	top:30px;
	border-bottom: 3px solid grey;
}
.box p{
	color:white;
	margin-top: 30px;
	text-align: center;
	font-size: 20px;


}

ul{
	padding:0px;
	margin:0px;
	list-style: none;
}
#menu li{
	width:195px;
	margin:20px 2px 5px;
}
#menu li p{
	padding: 0px;
	text-align: center;
	margin-top: 8px;
	font-weight: bold;
	color:white;
	font-size: 16px;
}
.container{
	width:800px;
	margin-left:300px;
	margin-right:300px;


}
#header{
	height:100px;
}

#subscribe{
	color:white;
	text-decoration: none;
	float:right;
	margin-right: 300px;
	margin-top: 30px;
}
#media{
	display:inline;
	width:20%;
	padding:10px;
	margin-left: 72%;

}
.media{
	display:inline;
	color:white;
	height: 50px;
	width: 50px;
	padding:0px;
	text-align: right;
}	
.media img{
	height: 50px;
	width: 50px;
	padding-bottom:0px;
	border-bottom: 3px solid grey;
	padding-top: 10px;
	

}
#menu{
	clear:both;
	width:100%;
}
.menu{
	text-transform: uppercase;
	float:left;
	display:inline;
	width:200px;
	height:30px;
	background: rgb(177,40,45);
	border-bottom:5px solid grey;
}

#bigpic{
	background: url(../assets/top-image.png) no-repeat;
	width:100%;
	height:300px;
	border:10px solid white;
	clear:both;
	box-sizing: border-box;
	/*outline-bottom:10px solid grey;
*/	position:relative;
	display: block;
}

#checkered{
	background: url(../assets/grid.png);
	position:absolute;
	display:block;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	opacity: .4;
}

#logo{
	background: url(../assets/peralta-logo.png) no-repeat;
	position: absolute;
	display: block;
	top:30px;
	left:20px;
	right:200px;
	bottom:0px;
}

#blog{
	display:flex;
	justify-content: space-between;
	width:100%;
	height:300px;
	margin-top:50px;

}
.post{
	width:250px;
	height:250px;
	background: white;
	display:inline-block;
	padding:5px;
	border-bottom: 5px solid grey;
}

.date{
	color:grey;
}
.blog{
	font-size: 11px;
	font-family:arial;
	line-height: 150%;
}

.read{
	float: left;
	margin-left:33%;
	text-decoration: none;
	color:rgb(177,40,45);
	text-transform: uppercase;
	font-size:10px;

}

#skater #lance h2{
	position: absolute;
	top:10px;
	text-align: center;
	bottom:50px;
	left:50px;
	color:white;
	font-size: 38px;
}
#skater #rodney h2{
	position: absolute;
	top:10px;
	left:310px;
	color:white;
	font-size: 38px;
}
#skater #tommy h2{
	color:white;
	font-size: 38px;
	position:absolute;
	top:80px;
	left:55px;
	
}

#skater #steve h2{
	color:white;
	font-size: 38px;
	position: absolute;
	left:120px;
	top:5px;
}

#skater{
	width:100%;
	height:300px;
	margin-bottom: 20px;
	position: relative;
}

#lance, #rodney{
	width:250px;
	height:140px;
	background: grey;
	border:3px solid white;
	display:inline-block;
	margin-bottom: 5px;
	margin-right: 5px;
	padding: 0px; 
	float:left;
	box-shadow: 0px 3px grey;
}

#rodney{
	padding-right: 6px;
}


#tommy{
	width:250px;
	height:290px;
	background: grey;
	display: inline-block;
	float:right;
	border:3px solid white;
	padding: 0px;
	margin-right: 4px;
	position:relative;
	box-shadow: 0px 3px grey;
}

#steve{
	width:510px;
	background: grey;
	border:3px solid white;
	height:140px;
	display: inline-block;
	padding-right: 6px;	
	position:relative;
	box-shadow: 0px 3px grey;
}

#boards{
	width:100%;
	height:260px;
	background: white;
	display: flex;
	justify-content: space-between;
	padding:0px 10px;
	box-sizing: border-box;
	margin-bottom: 50px;
	border-bottom: 3px solid grey;
}

.boards{
	width:70px;
	height:240px;
	margin-top: 10px;
	float:left;
}

#contact{
	width: 100%;
	height: 300px;
	background: white;
	margin-bottom: 50px;
	padding: 20px;
	box-sizing: border-box;
	border-bottom: 3px solid grey;
}

#contactinfo{
	width:55%;
	height:250px;
	box-sizing: border-box;
	display: inline-block;
	float: left;
	text-align:left;
	font-size: 18px;
	position:relative;
}
h3{
	padding:0px;
	margin-top:0px;
}
#contactinfo p{
	line-height: 30px;
	font-size: 11px;
}

#contactform{
	width:45%;
	height:260px;
	display: inline-block;
}


.forms{
	margin-bottom: 5px;
	float: right;
	display: block;
}
.forms li input{
	margin-bottom: 10px;
	width: 300px;
	height:35px;
}
.forms li textarea{
	width:300px;
	height:75px;
}


button{
	margin-top: 30px;
	width:200px;
	float: right;
	background: rgb(177,40,45);
	margin-right: 10px;
}
#media_small{
	width:200px;
	margin-top: 40px;

}
.media_small{
	float:left;
	display:inline-block;
}
.media_small img{
	width:30px;
	height:30px;
}
